<div class='ccPageWrap'>
    
    <a  href='/#/home'><div class='ccLogo animated bounceInDown'></div></a>

<div class='ccWhiteBox animated slideInRight'>
<h1>COLOR COPIES</h1>
    <div class='imagePreviewBox'></div>
    <br/>
Upload Image: <input type='button' value='Choose'/>
    
    <div class='orderForm'>
        
       Paper Size:  <select>
  <option value="letter">8.5 X 11 (Letter)</option>
  <option value="legal">8.5 X 14 (Legal)</option>
  <option value="tabloid">11 X 17 (Tabloid)</option>
</select>
        <br/>
        <br/>
           Paper Weight:  <select>
  <option value="brightwhite">24lb Bright White</option>
  <option value="brightwhite28">28lb Bright White</option>
  <option value="gloss">32lb Gloss</option>
        <option value="matte">80lb Matte Cover Stock</option>
        <option value="glossstock">80lb Gloss Cover Stock</option>
</select>
        <br/>
        <br/>
           Printing:  <select>
  <option value="onesidecolor">1 Side Color</option>
  <option value="twosidecolor">2 Sides Color</option>
  <option value="colorandbw">1 Side Color/1 Side B&W</option>
        
</select>
        <br/>
        <br/>
        Quantity: <input type='text' placeholder="0"/>
        
        
    </div>
    
    
    
    
</div>
    
    
    
</div>
