 <input type="checkbox" id="sidebartoggler" name="" value="">

<div class="page-wrap">
  <label for="sidebartoggler" class="toggle">☰</label>

  <div class='page-content'>
    <div class='videoBG' id='top'>

      <!--          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/K3T7MgavkwQ?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1;start=9;volume=0" frameborder="0" allowfullscreen></iframe>-->


      <div class='animated fadeInDown' id='topLogo'></div>

    </div>


    <div class='aboutUsContainer' id='two'>

      <div class='centeredText'>
        <h2>- ABOUT US -</h2>
        <p>Serving local and national business communities, we have consistently met and exceeded our customers’ expectations on color copies and printing orders since 1987. We’re proud to be able to offer our invaluable experience and expertise, coupled
          with our superior customer care, at a fraction of the cost that many of our customers are used to paying elsewhere. We offer a wide range of printing solutions, so whether you are looking for inexpensive color copies or just some place to print
          color copies at an affordable price, make us your one-stop digital printing resource for high quality prints at a low-cost.</p>

      </div>


    </div>

    <div id='wall2'></div>

    <div class='servicesContainer' id='three'>
      <h2>- OUR SERVICES -</h2>
      <div class='serviceBox'>
        <a class='serviceLink' href='/#/colorcopies'>
          <div class='serviceBtn'>
            <div class='services'>Color Copies</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/newsletters'>
          <div class='serviceBtn'>
            <div class='services'>Newsletters</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/flyers'>
          <div class='serviceBtn'>
            <div class='services'>Flyers</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/businesscards'>
          <div class='serviceBtn'>
            <div class='services'>Business Cards</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/brochures'>
          <div class='serviceBtn'>
            <div class='services'>Brochures</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/presentationfolders'>
          <div class='serviceBtn'>
            <div class='services'>Presentation Folders</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/tabletents'>
          <div class='serviceBtn'>
            <div class='services'>Table Tents</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/weddinginvitations'>
          <div class='serviceBtn'>
            <div class='services'>Wedding Invitations</div>
          </div>
        </a>
        <a class='serviceLink' href='/#/postersbanners'>
          <div class='serviceBtn'>
            <div class='services'>Posters & Banners</div>
          </div>
        </a>

      </div>
    </div>
    <div id='wall3'></div>

    <div class='contactContainer' id='four'>
      <div class='mapBox'></div>

      <div class='contactBox'>
        <h2>- CONTACT US -</h2> Name:
        <input class='contactFieldInfo' type="text" placeholder="Name" />
        <br/> Email:
        <input class='contactFieldInfo' type="text" placeholder="Email" />
        <br/> Subject:
        <input class='contactFieldInfo' type="text" placeholder="Subject" />
        <br/>
        <br/>
        <input class='emailContent' type="text" />
        <br/>
        <br/>
        <input class='sendBtn' type="button" value="SEND" />

      </div>
    </div>


    <footer>
      <div class='addressBox'>
        Silver Leaf Print Co.
        <br/> 616 W 600 S
        <br/> Mapleton, UT 84664
      </div>

      <div class='socialContainer'>
        <div id='fbIcon'></div>
        <div id='twitterIcon'></div>
        <div id='instagramIcon'></div>
        <div id='pinterestIcon'></div>


      </div>


      <div class='footerLogo'></div>
      <p id='terms'>Terms of Service</p>
    </footer>


  </div>


  <div class="sidebar">
    <div id='sideBarLeaf'></div>
    <ul>
      <li><a href='#top'>Home</a></li>
      <li><a href='#two'>About Us</a></li>
      <li><a href='#three'>Our Services</a></li>
      <li><a href='#four'>Contact</a></li>
    </ul>
  </div>


    
</div>


</div>

